<style> img,video{max-width : 1024px; max-height : 100vh;display : block;} h1{margin-top : 25vh; font-size:4rem;text-align:center}body{overflow-x : hidden; background-color:black;color : white;} img,video{margin : 5rem auto 5rem auto;}</style>

<!-- coucou -->

<img style="margin-top : 50vh; margin-bottom: 50vh;" src="coucou.gif"/>

<!-- coincoin -->

<h1>€oin €oin</h1>

<img src="./coincoin/blockchain.png"/>
<img src="./coincoin/logo.gif"/>
<video src="./coincoin/mare.mp4" controls loop autoplay ></video>

<!-- 0lib --> 

<h1>0lib</h1>
<img src="./0lib/0lib (11).png"/>
<img src="./0lib/0lib (41).png"/>
<img src="./0lib/0lib (50).png"/>
<img src="./0lib/IMG_9805.jpg"/>
<img src="./0lib/Screenshot_2019-11-03  baptiste11ans • Instagram photos and videos.jpg"/>
<img src="./0lib/Screenshot_2019-11-03  baptiste11ans • Instagram photos and videos.png"/>
<img src="./0lib/Screenshot_2019-11-03 Instagram_1.jpg"/>
<img src="./0lib/Screenshot_2019-11-03 Instagram_2.jpg"/>
<img src="./0lib/Screenshot_2019-11-03 Vin Diesel ( vindiesel) • Instagram photos and videos.jpg"/>
<img src="./0lib/Screenshot_2019-11-03 Vin Diesel ( vindiesel) • Instagram photos and videos.png"/>

<!-- plenty of room -->

<h1>Plenty of room</h1>
<img style="max-width: 100vw" src="./plenty_of_room/intro.png"/>
<img style="max-width: 75vw" src="./plenty_of_room/por_dzingdzing.jpg"/>
<video style="max-width: 100vw" src="./plenty_of_room/00dzing_dzing.mp4" controls loop autoplay></video>

<!-- tpxt -->

<h1>tpxt</h1>
<img src="./tpxt/dogo_txt.jpg"/>
<img src="./tpxt/dogo.png"/>
<img src="./tpxt/glyph_to_rvb.png"/>
<img style="max-width: 100vw" src="./tpxt/dogo.gif"/>

<!-- dactyloplodocus -->

<h1>Dactyloplodocus</h1>
<video src="./dactyloplodocus/2019-11-03_15-23-33_speed05.mp4" controls loop autoplay ></video>
<img src="./dactyloplodocus/5.png"/>
<img src="./dactyloplodocus/apple.png"/>
<img src="./dactyloplodocus/girl_with_a_cat.jpg"/>
<img src="./dactyloplodocus/IMG_20190310_002411.jpg"/>
<img src="./dactyloplodocus/IMG_9776.jpg"/>
<img src="./dactyloplodocus/IMG_9786.jpg"/>
<video src="./dactyloplodocus/190302dactyloplodocus_hosono_cut.mp4" controls loop autoplay ></video>

<!-- terminator -->
<h1>terminator</h1>

<img src="./terminator/edit-bookmarklet-url.png"/>
<div style = "display:flex; max-height : initial;">
<img style="width : 45vw; max-height : initial;" src="./terminator/Screenshot_2019-11-03 Corporate Information - Google User Experience.png"/>
<img style="width : 45vw; max-height : initial;" src="./terminator/Screenshot_2019-11-03 Corporate Information - Google User Experience_2.png"/>
</div>
<div style = "display:flex; max-height : initial;">
<img style="width : 45vw; max-height : initial;" src="./terminator/dieter-rams-original.png"/>
<img style="width : 45vw; max-height : initial;" src="./terminator/dieter-rams-terminator.png"/>
</div>

