/* COMMON (SCREEN + PRINT) */

:root {
  --footnoteColor: green;
  --sidenoteColor: red;
  --highlightColor: yellow;
  --linkColor: blue;

}

* {
    font-family: sans-serif;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

/* intro */

#intro {
    font-size: 1.4rem;
}

/* index */

#index {
    font-size: 2rem;
    font-weight: bold;
}

/* figures */

figure {
    max-width: 100%;
    max-width: 500px;
}

figure > img {
    max-width: 100%;
}

figure > figcaption {

}

/* footnotes */

.footnote-ref {
    color: var(--footnoteColor);
    text-decoration: none;
}
sup {
    vertical-align: middle;
    vertical-align: text-top;
}

.footnote-back {
    color: var(--footnoteColor);
    text-decoration: none;
}

/* highlight */

.hl {
    background-color: var(--highlightColor);
}

/* sidenote */

.sn {
    display: block;
    float: right;
    width: 40mm;
    margin-left: 4mm;
    margin-top: 20px;
    margin-right: 4mm;
    margin-bottom: 20px;

    color: var(--sidenoteColor);
}

.sn.right {
    float: right;
}

.sn.left {
    float: left;
}

/* SCREEN ONLY */

@media screen {

    .print-only {
        display: none;
    }
   
    body > div {
        margin-top: 4rem;
    }

    /* items */
    #items {
        /*display: none;*/
    }

}

/* PRINT ONLY */

@media print {

    .screen-only {
        display: none;
    }

    /* page */

    @page {
        size: 210mm 297mm;
        margin-top: 2cm;
        margin-bottom; 2cm;
    }

    @page:left {
        margin-left: 2cm;
        margin-right: 4cm;
    }

    @page:right {
        margin-left: 4cm;
        margin-right: 2cm;
    }

    body > div {
        page-break-before: always;
    }

    /* links */

    #items a:not(.footnote-ref):not(.footnote-back):after {
        color: blue;
        content: " (" attr(href) ") ";
    }

    /* items */

    #items > div {
        page-break-before: always;
    }

}
